@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/MaisonNeue-Black.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/MaisonNeue-Bold.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/MaisonNeue-Book.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/MaisonNeue-DemiBold.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/MaisonNeue-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue ExtraThin";
  src: url("./assets/fonts/MaisonNeue-ExtraThin.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtraThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/MaisonNeue-Light.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/MaisonNeue-Medium.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/MaisonNeue-Thin.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended";
  src: url("./assets/fonts/MaisonNeue-ExtendedBlack.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtendedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended";
  src: url("./assets/fonts/MaisonNeue-ExtendedBold.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtendedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended";
  src: url("./assets/fonts/MaisonNeue-ExtendedBook.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtendedBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended";
  src: url("./assets/fonts/MaisonNeue-ExtendedExtraBold.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtendedExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended";
  src: url("./assets/fonts/MaisonNeue-ExtendedDemiBold.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtendedDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended ExtraThin";
  src: url("./assets/fonts/MaisonNeue-ExtendedExtraThin.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtendedExtraThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended";
  src: url("./assets/fonts/MaisonNeue-ExtendedMedium.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtendedMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended";
  src: url("./assets/fonts/MaisonNeue-ExtendedLight.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtendedLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended";
  src: url("./assets/fonts/MaisonNeue-ExtendedThin.woff2") format("woff2"),
    url("./assets/fonts/MaisonNeue-ExtendedThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

button {
  min-width: 44px;
  min-height: 44px;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.perk-dot-active {
  background-color: rgba(0, 136, 13, 1) !important;
}

.product-slider-hover-trigger:hover .product-slider-hover-target {
  display: block !important;
}

.shadow-green {
  box-shadow: 0px 0px 32px 10px #b2e5b8;
}

.shadow-purple {
  box-shadow: 0px 0px 32px 10px #d0b4d4;
}

.shadow-orange {
  box-shadow: 0px 0px 32px 10px #fac9a6;
}

.shadow-blue {
  box-shadow: 0px 0px 32px 10px #b2e6f2;
}

.info-card-container {
  min-width: 0;
}

.info-card {
  min-height: 20rem;
  border-radius: 3rem;
}

.safety-container {
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4));
  z-index: 99;
}

.join-the-ride-banner {
  background-repeat: "no-repeat";
  background-size: "cover";
  background-position: "center";
  border-bottom-left-radius: 7rem;
  border-bottom-right-radius: 7rem;
}

.safety-container > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.float {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@media screen and (min-width: 1024px) {
  .info-card-container {
    min-width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .info-card-container {
    min-width: 0;
  }

  .info-card {
    min-height: 23rem;
  }
}
