button {
  min-width: 44px;
  min-height: 44px;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.shadow-green {
  box-shadow: 0px 0px 32px 10px #b2e5b8;
}

.shadow-purple {
  box-shadow: 0px 0px 32px 10px #d0b4d4;
}

.shadow-orange {
  box-shadow: 0px 0px 32px 10px #fac9a6;
}

.shadow-blue {
  box-shadow: 0px 0px 32px 10px #b2e6f2;
}

.info-card-container {
  min-width: 75%;
}

.info-card {
  min-height: 20rem;
  border-radius: 3rem;
}

.safety-container {
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4));
  z-index: 99;
}

.safety-container > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  .info-card-container {
    min-width: 0;
  }

  .info-card {
    min-height: 23rem;
  }
}
